VITE_API_URL=
VITE_ENVIRONMENT=
VITE_SERVICE_ID=
VITE_TEMPLATE_ID=
VITE_EMAIL=

VITE_FRONTEND_URL=

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=


# Mercado Pago Configuration
VITE_MERCADO_PAGO_PREFERENCE_ID=
VITE_MERCADO_PAGO_PUBLIC_KEY=

# Google Analytics Measurement ID
VITE_GA_MEASUREMENT_ID=G-...
